{{ template "summary_of_changes.md.gohtml" . }}

---

Sent to you by [andrewkroh/elastic-package-promoter](
https://github.com/andrewkroh/elastic-package-promoter/blob/main/.github/workflows/test.yml).
